.AttendeeDisplayName {
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 3px;
  border: 1px solid #8d8d8d;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  @mixin highlight($color) {
    border-color: $color;
    box-shadow: 0 0 10px 4px $color;
  }
  &:hover { @include highlight(#97ced2) }
  &.SelectedToEdit { @include highlight(#4e96d0) }
  &.IsAttending {background-color: #8ab67c;}
  &.IsNotAttending {background-color: #c2c3c9;}

  .AttendeeNameLabel {
    line-height: 24px;
    padding-right: 15px;
  }
  .RoleIcon {
    width: 30px;
    height: 24px;
    padding-right: 15px;
  }
  .FirstTimerIcon {
    width: 24px;
    height: 24px;
    padding-right: 15px;
  }
  .Hidden {
    opacity: 0;
  }
}
