.PairingsStep {
  display: flex;
  flex-direction: column;

  .PairingsStepHeader {
    display: flex;
    flex-direction: column;
    &>span {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
    }
    .PairingsStepBack {
      width: 300px;
      margin: 0 auto;
    }
  }
  .PairingsStepContent {
    display: flex;
    flex-flow: row nowrap;
    padding: 1%;

    .EmptyDropzone {
      padding: 10px;
      color: #757575;
    }

    .Attendees {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    .Pairs {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding: 20px;

      .PairingGroup {
        padding: 10px;
        border: 1px dashed #4e555b;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 10px;

        & > * {
          width: 45%;
          overflow: hidden;
        }
        .PairingGroupLanguages {
          width: 100%;
          padding: 10px;
        }

        .AttendeeName {
          background-color: whitesmoke;
          border: 1px solid #a0a0a0;
          border-radius: 5px;
          box-shadow: 2px 2px 1px 1px #a5a5a5;
          padding: 5px;
          margin-bottom: 5px;
          overflow: hidden;
        }

      }
    }
  }
}
