[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle =  "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pylint = "*"
watchdog = "*"
yaml = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.7"

[scripts]
start = "pipenv run uvicorn main:app"
dev = " pipenv run start && pipenv run watch"
lint_inspect = "pipenv run pylint"
watch = "pipenv run watchmedo auto-restart -d . -p '*.py' pipenv run uvicorn main:app"