.WorkshopAttendees {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .FirstStep {
    display:flex;
    flex-flow: column nowrap;
  }

  .SecondStep {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    .Students, .Coaches {
      .Tablerone {
        min-width: 650px;
      }
    }
  }



}
