.WorkshopAttendees {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .FirstStep {
    display:flex;
    flex-flow: column nowrap;
  }
  .SecondStep {
    display:flex;
    flex-direction: column;
    .SecondStepHeader{
      border: 1px solid black;
      border-radius: 10px;
    }
    .SecondStepContent {
      display: flex;
      flex-flow: row nowrap;
      padding: 1%;

      .Students,
      .Coaches {
        width: 50%;
      }
    }
  }
}
