@import '../../../Mixins.scss';

.AttendeeCard {
  text-align: left;
  min-width: 500px;
  margin: 10px 5px;
  padding: 5px 20px;

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .CardName {
      flex: 3;
    }
    .CardNew {
      width: 50px;
      height: 50px;
      display: inline-flex;
    }
    .CardAttending {
      &.Show { background-color: lightgreen; }
      &.NoShow { background-color: lightgrey; }
    }

  }

  section {
    display: flex;
    flex-direction: column;

    .CardSkills, .CardTutorial, .CardNotes {
      color: darkgrey;
      font-style: italic;
    }
  }

  .CardLanguages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}