.NewAttendee {
  background-color: #c9ffc9;
}


.AttendeeCard {
  text-align: left;
  min-width: 500px;
  margin: 10px 5px;
  padding: 5px 20px;

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .CardName {
      flex: 3;
    }
    .CardNew {
      width: 50px;
      height: 50px;
      display: inline-flex;
    }
    .CardAttending {
      &.Show { background-color: lightgreen; }
      &.NoShow { background-color: lightgrey; }
    }

  }

  section {
    display: flex;
    flex-direction: column;

    .CardSkills, .CardTutorial, .CardNotes {
      color: darkgrey;
      font-style: italic;
    }
  }

  .CardLanguages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.AttendeeCompactCard {
  .CardContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@mixin SkillButton($color) {
  &.Inactive {
    color: $color;
    background-color: transparent;
    &:hover{
      background-color: transparent;
    }
  }
  &.Active {
    color: white;
    background-color: $color;
    &:hover{
      background-color: $color;
    }
  }
}
.HTMLButton {@include SkillButton(#DC4B26)}
.CSSButton{@include SkillButton(#026DB3)}
.JSButton{@include SkillButton(#E8A22A)}
.PythonButton{@include SkillButton(#F8D248)}
.RubyButton{@include SkillButton(#A21401)}
.SQLButton{@include SkillButton(#30638B)}
.JavaButton{@include SkillButton(#E52B29)}
.OtherButton{@include SkillButton(#000000)}
