.UpdateAttendeesStep {
  display:flex;
  flex-direction: column;

  .UpdateAttendeesStepHeader{
    display: flex;
    flex-direction: column;
    &>span {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
    }
    .UpdateAttendeesStepDone {
      width: 300px;
      margin: 0 auto;
    }
  }

  .UpdateAttendeesStepContent {
    display: flex;
    flex-flow: row nowrap;
    padding: 1%;

    .Students,
    .Coaches {
      width: 50%;

      .AddNew {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        .AddNewName {
          margin: 0 30px;
        }
      }
    }
  }
}
