.App {
  height: 100vh;
  text-align: center;
  background-color: #fdfaf6;
  display: grid;
  grid-template:
          'header' 60px
          'content' 1fr
          / 1fr;

  .AppHeader {
    grid-area: header;
  }
  .AppContent {
    grid-area: content;
    overflow: auto;

    .PrototypeNotice {
      .MuiAlert-message { margin: 0 auto; }
      .MuiAlert-action { margin-left: 0 }
      margin: 20px auto;
    }
  }
}
