.AvailableStudent {
  cursor: move;
  margin: 10px;
  .Button {
    background-color: whitesmoke;
    &:hover{
      background-color: whitesmoke;
    }
  }
  &.Dragging {
    .Button {
      background-color: lightpink;
      &:hover{
        background-color: lightpink;
      }
    }
  }
}
.AvailableCoach {
  cursor: move;
  margin: 10px;
  .Button {
    background-color: whitesmoke;
    &:hover{
      background-color: whitesmoke;
    }
  }
  &.Dragging {
    .Button {
      background-color: lightsalmon;
      &:hover{
        background-color: lightsalmon;
      }
    }
  }
}
